<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeerUtsav 10.0!</title>
</head>

<body style="background-color: #001a2e; color: #FFFFFF; font-family: Arial, sans-serif; padding: 20px; display: flex; justify-content: center; 
    align-items: center;
    flex-direction: column;">
    <div style="max-width: 700px; display: flex; justify-content: center; align-items: center; margin: 0 auto;">
        <div
            style=" background-color: #001E37; padding: 2rem; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
            <div style="height: 15rem;">
                <img src="../images/logo/mainLogo.png" style="
            height: 100%;
            width: 100%;
            object-fit: contain;

            ">
            </div>
            <p style="font-size: 1.5rem;">Hello <span style="color: #E6C15D; font-weight: 600;">{{Name}}</span>,</p>
            <p style="font-size: 1.2rem;">We are delighted to invite you to the <b>"DeerUtsav 10.0"</b>.</p>
            <div
                style="background-color: #1A2B48; padding: 1.25rem; border-radius: 10px; margin: 20px 0; font-size: 1.25rem;">
                <b style="display: block; margin-bottom: 5px;">Date: <span style="font-weight: 100;"> December
                        1<sup>st</sup>, 2025 </span></b>
                <b style="display: block; margin-bottom: 5px;">Venue: <span style="font-weight: 100;"> Nepal Police
                        Club, Pradarshani Marg</span> </b>
                <b style="display: block; margin-bottom: 5px;">Time: <span style="font-weight: 100;">12 PM</span></b>
            </div>
            <p style="font-size: 1.2rem;">
                Please take a moment to fill out the <a href="https://forms.gle/kGJuu11Z6gryTq4V6"
                style="color: #E6C15D; text-decoration: underline;"
                >form</a> and let us know your food and transportation preferences, we
                want to make sure you're fully taken care of!

            </p>
            <div style="margin-top: 20px;">
                <p style="font-size: 1.2rem; color: #E6C15D;">Best Regards, </p>
                <p style="font-size: 1.2rem; color: #E6C15D; margin-top: -15px;">DeerUtsav Organizing Committee</p>
            </div>
        </div>
    </div>
</body>

</html>